@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #fff;

  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#left-eye {
  animation: eye 3s linear infinite;
}

#right-eye {
  animation: eye 3s linear infinite;
}

#left-ear {
  transition: all .5s linear;
}

#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}

@keyframes eye {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}
